*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    background: url(img3.jpeg);
    background-size: 75%;
    background-attachment:fixed;
    background-position: top;  


}

.container{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container .box{
    position: relative;
    top:0;
    width: 3vw;
    height: 3vw;
    border: 1px solid #000;
    box-sizing: border-box;
    background: url(im1.jpeg);
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;



}

.container .box.active{
    background: none;
    z-index: 1;
    pointer-events: none;
    animation: ani 1s linear forwards;
    border: none;

}

@keyframes ani{
    0%{
        opacity: 1;
        transform: translate(0px,0px) rotate(0deg);
    }
    100%{
        opacity: 1;
        transform: translate(var(--x),var(--y)) rotate(720deg);
    }
}